/*css voor de moviepasspagina*/

/*orange gradient background*/

/* section:first-child, section:nth-of-type(2), section:nth-of-type(3)  {
	padding:0;
	background-image: url(../images/hazy-background-desktop.jpg);
}  */

main {
	padding:0;
	background-image: url(../images/hazy-background-desktop.jpg);
	width: 100vw;
	/* margin-top:3.44em; */
	height: 40em;
	right:0;
	left:0;
	/* position: fixed; */
	background-size: cover;
} 

/*trendingfilmsslider*/

section:first-child > ul {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	overflow: scroll;
	margin: 0 2em 0 2em;
	padding: 0;
	gap: 0.5em;
	margin-left: 1em;
	margin-top: 6em;
}

section:first-child img {
	width: 7.5em;
}

/*onbeperkt naar de film voor 19.50 p/m: voordelen moviepas*/

section:nth-of-type(2) ul {
	display: flex;
	flex-direction: column;
	/* justify-content:center; */
}


section:nth-of-type(2) ul li {
	display: flex;
	flex-direction: row;
	/* align-items: left; */
}

/*voordelen moviepas tekst*/

section:nth-of-type(2) li p {
	color: var(--color-white);
}

/*icoontjes links van voordelen moviepas*/

section:nth-of-type(2) li img {
	margin-right: 0.1em;
	width: 1.5em;
	margin-left: -1em;
}

/*icoontjes voordelen moviepass animatie*/
/*bron:https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function*/
/*bron:https://css-tricks.com/a-complete-guide-to-calc-in-css/*/

section:nth-of-type(13) ul li img,
section:nth-of-type(2) ul li img {
	background-color: transparent;

	display: inline-block;
	animation: rotate 1s linear infinite;

	/* animation-timing-function: calc(); */
	/* transform: rotate(calc(1turn + 360deg)); */
	animation-duration: 5s;

	animation-delay: calc(1s + 15ms);

}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/*buttons
*/
/*bronnen:https://www.javatpoint.com/how-to-center-a-button-in-css
*/
/*neem abonnement knop*/

section:nth-of-type(3) button {
	display: flex;
	justify-content: center;
	white-space: nowrap;
	color: var(--color-text-button);
	background-color: var(--color-orange);
	/* padding: 0.69em 9em 0.69em; */
	margin: auto;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-size: 1.25em;
	text-align: center;
	border-radius: 0.4em;
	/* width: 90vw; */
	width: 17em;
	padding: 0.5em 1em 0.5em;
	/* padding-top: 0.5em;
	padding-bottom: 0.5em; */
	vertical-align: middle;
}

/* section:nth-of-type(3) button:first-child.blauwworden {
	background-color: rgb(0, 8, 255);
	color: white;
	transform: scale(1.2);
} */

section:nth-of-type(3) button:hover {
	transform: scale(1.2);
	background-color: var(--color-accent);
	color: var(--color-white);
}

section:nth-of-type(3) button:focus {
	transform: scale(1.2);
	box-shadow: 0 0 0 0.1em var(--color-accent);
	color: var(--color-white);
}

section:nth-of-type(3) button:active {
	transform: scale(1.2);
	background-color: var(--color-accent);
	color: var(--color-white);
}

/*geef cadeau knop*/

section:nth-of-type(3) button:nth-of-type(2) {
	text-transform: uppercase;
	font-size: 1.25em;
	background-color: var(--color-background-section);
	color: var(--color-white);
	border: 0.05em solid var(--color-orange);
	/* padding: 0.69em 9em 0.69em; */
}

section:nth-of-type(3) button:hover {
	/* transform: scale(1.2); */
	background-color: var(--color-accent);
	color: var(--color-white);
}

section:nth-of-type(3) button:focus {
	outline: 0.5em var(--color-accent);
}

section:nth-of-type(3) button:active {
	background-color: var(--color-orange);
	color: var(--color-white);
}

/*speciaal voor onze echte filmliefhebbers*/

section:nth-of-type(4) {
	margin-top: 7em;
}

/*speciaal voor onze echte filmliefhebbers, 
al gauw voordeliger dan reguliere tickets,
scan via de vue app en je bent binnen!*/

section:nth-of-type(4) img,
section:nth-of-type(5) img,
section:nth-of-type(6) img {
	width: 22em;
	margin: auto;
	display: block;
}

/*quote van Giamo, bezoeker*/

section:nth-of-type(7) {
	margin-top: 4em;
}

section:nth-of-type(7) blockquote {
	text-align: center;
	color: var(--color-white);
	line-height: 1.5em;
	margin-left: 2em;
	font-size: 1.25em;
	margin-top: 4em;
}

/*name reviewer*/

section:nth-of-type(7) div {
	display:flex;
	flex-wrap: wrap;
	font-size: 1em;
	font-style: normal;
	justify-content: center;
	margin-bottom: 4em;
	color: var(--color-white);
	font-size: 1em;
	text-align: center;
	margin-bottom: 4em;
}

section:nth-of-type(7) span {
	color: var(--color-orange);
	font-size: 1.25em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: -2em;
}

/*like deze review*/

section:nth-of-type(7) div > div{
	position: relative;
	top: 1em;
}

/*likebutton*/
/*bron:https://codepen.io/shooft/pen/BarqVdR*/

/* als een review ge-liked is */
/* de styling voor het hartje */

section:nth-of-type(7) button {
	min-height: 2.5rem;
	width: 3em;
	z-index: 200;
	transform:scale(2);
	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: .5rem;
	cursor: pointer;
	transition: transform .3s;
	grid-column-start: 2;
	grid-row: 1/3;
	justify-self: end;
	align-self: start;
	aspect-ratio: 1/1;
}

section:nth-of-type(7) button:active {
	transition: transform 0s;
	transform: translatey(0.06em);
	transform: rotateY(180deg);
}

section:nth-of-type(7) button.roodworden {
	background-color: var(--color-white);
	border: blur(0.13em) var(--color-white);
	color: var(--color-orange);
	font-size: 1.5em;
	transition: .4s;
}

/*veelgestelde vragen*/

section:nth-of-type(8) div:first-child {
	display: grid;
	margin: auto;
	/* display: block; */
	/* margin-left: 1em; */
}

/*veelgestelde vragen, vraag 2, vraag 3*/

section:nth-of-type(8),
section:nth-of-type(9),
section:nth-of-type(10)
 {
	margin-top: 4em;
	border: solid 0.1em var(--color-grey);
	border-radius: 0.4em 0.4em 0.4em;

} 

/*links in 'veelgestelde vragen,' 'voorwaarden,' & 'overige vragen'*/

section:nth-child(11),
section:nth-child(12), 
section:nth-child(13),
section:nth-child(14)
 {
	margin-top: 4em;
}

/*links in 'veelgestelde vragen,' 'voorwaarden,' & 'overige vragen'*/

section:nth-child(10) a,
section:nth-child(11) a,
section:nth-child(12) a {
	color: var(--color-orange);
	font-weight: 400;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

/*staat jouw vraag en/of antwoord er niet bij? Neem dan contact met ons op middels het e-mailadres*/

section:nth-child(12) p {
	color: var(--color-white);
}

/*dropdown styling 'films' (uitgeklapt hamburgermenu), 
'veelgestelde vragen' & 'vue cinema' (alle vue cinemas in footer)*/

nav > ul:first-child > li:nth-of-type(2) > a > section
section:nth-child(8),
section:nth-child(9),
section:nth-child(10),
/* section:nth-child(16) button button */
section:nth-child(16) 
 {
	/* display: grid; */
	/* justify-items: center; */
	--uitklaptijd: .3s;
	/* display: flex;
	flex-wrap: wrap; */
	margin-bottom: 0.5em;
}

/*uitgeklapt deel*/

nav > ul:first-child > li:nth-of-type(2) > a > section > ul,
section:nth-child(8) p,
section:nth-child(9) p,
section:nth-child(10) p {
	flex-grow: 1;
	margin: 0;
	color: var(--color-orange);
	margin-left: 1.5em;
	cursor: pointer;
}

section:nth-child(16) ul {
	flex-grow: 1;
	margin: 0;
	color: var(--color-white);
	margin-left: 1.5em;
	cursor: pointer;
}

/*arrow button voor dropdown*/

nav > ul > li:nth-of-type(2) > a > section > ul button,
section:nth-child(8) button,
section:nth-child(9) button,
section:nth-child(10) button {
	width: 3em;
	aspect-ratio: 1/1;
	padding: 0;
	background-color: var(--color-text);
	cursor: pointer;
}

section:nth-child(16) button {
	width: 3em;
	padding: 0;
	background-color: var(--color-text);
	cursor: pointer;

}

/* section:nth-child(16) button:nth-of-type(2) {
	position: relative; 
	right: 0;
} */

/*tijd waarin arrow omdraait bij in- en uitklappen*/

nav > ul > li:nth-of-type(2) > a > section > ul button img,
section:nth-child(8) button img,
section:nth-child(9) button img,
section:nth-child(10) button img,
section:nth-child(16) button img
 {
	/* transform: rotate(-180deg); */
	transition: var(--uitklaptijd);
}

/*arrow roteert rechtsom van onder naar boven toe bij uitklappen*/

nav > ul > li:nth-of-type(2) > a > section > ul.open button img,
section:nth-child(8).open button img,
section:nth-child(9).open button img,
section:nth-child(10).open button img,
section:nth-child(16).open button img
 {
	transform: rotate(-180deg);
}

/*vue cinemas dropdown arrow*/

section:nth-of-type(16) button:nth-of-type(2) {
	z-index: 1;
    left: 17em;
    top: -2.5em;
    /* position: relative; */
}

/*uitklapdeel duwt andere secties netjes naar onder en gaat er niet overheen*/

nav > ul > li:nth-of-type(2) > a > section,
section:nth-child(8) section,
section:nth-child(9) section,
section:nth-child(10) section,
section:nth-child(16) section
 {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 0em;
	overflow: hidden;
	transition: var(--uitklaptijd);
}

/*uitklaptijd van uitklapdeel*/

nav > ul > li:nth-of-type(2) > a > section.opensection,
section:nth-child(8).open section,
section:nth-child(9).open section,
section:nth-child(10).open section,
section:nth-child(16).open section {
	max-height: 25em;
	transition: var(--uitklaptijd);
}
