/*css voor de moviepasspagina*/

/*orange gradient background*/

main {
	padding: 0;
	background-image: url(../images/hazy-background-desktop.jpg);
	width: 100vw;
	height: 40em;
	right: 0;
	left: 0;
	background-size: cover;
}

/*h2-vue movie pass*/

section:nth-of-type(2) h2 {
	color: var(--color-orange);
	font-size: 1.25em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color: var(--primary-colour);
	text-align: left;
	margin-top: 3em;
	margin-bottom: -1em;
}

/*trendingfilmsslider*/

section:first-child>ul {
	display: flex;
	align-items: center;
	overflow: scroll;
	margin: 0 2em 0 2em;
	padding: 0;
	gap: 0.5em;
	margin-left: 1em;
	margin-top: 6em;
}

section:first-child img {
	width: 7.5em;
}

/*onbeperkt naar de film voor 19.50 p/m: voordelen moviepas*/

section:nth-of-type(2) ul {
	display: flex;
	flex-direction: column;
}


section:nth-of-type(2) ul li {
	display: flex;
	flex-direction: row;
}

/*voordelen moviepas tekst*/

section:nth-of-type(2) li p {
	color: var(--color-white);
}

/*icoontjes links van voordelen moviepas*/

/* section:nth-of-type(2) li img {
	margin-right: 0.1em;
	width: 1.5em;
	margin-left: -1em;
} */

/*icoontjes voordelen moviepass animatie*/
/*bron:https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function*/
/*bron:https://css-tricks.com/a-complete-guide-to-calc-in-css/*/

section:nth-of-type(2) ul li img {
	margin-right: 0.1em;
	width: 1.5em;
	margin-left: -1em;
	background-color: transparent;
	display: inline-block;
	animation: rotate 1s linear infinite;
	animation-duration: 5s;
	animation-delay: calc(1s + 15ms);
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/*speciaal voor onze echte filmliefhebbers*/

section:nth-of-type(3) {
	margin-top: 7em;
}

/*speciaal voor onze echte filmliefhebbers, 
al gauw voordeliger dan reguliere tickets,
scan via de vue app en je bent binnen!*/

section:nth-of-type(3) img {
	width: 22em;
	margin: auto;
	display: block;
}

/*quote van Giamo, bezoeker*/

section:nth-of-type(4) {
	margin-top: 4em;
}

section:nth-of-type(4) blockquote {
	text-align: center;
	color: var(--color-white);
	line-height: 1.5em;
	margin-left: 2em;
	font-size: 1.25em;
	margin-top: 4em;
}

/*name reviewer*/

section:nth-of-type(4) div {
	display: flex;
	flex-wrap: wrap;
	font-size: 1em;
	font-style: normal;
	justify-content: center;
	margin-bottom: 4em;
	color: var(--color-white);
	font-size: 1em;
	text-align: center;
	margin-bottom: 4em;
}

section:nth-of-type(4) p {
	color: var(--color-orange);
	font-size: 1.25em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: -2em;
}

section:nth-of-type(4) p::before {
	content:"-";
}

/*like deze review*/

section:nth-of-type(4) button {
	position: relative;
	top: 1em;
}

/*likebutton*/
/*bron:https://codepen.io/shooft/pen/BarqVdR*/

/* als een review ge-liked is */
/* de styling voor het hartje */

section:nth-of-type(4) button span {
	min-height: 2.5rem;
	width: 3em;
	z-index: 200;
	transform: scale(3.5);
	appearance: none;
	color: var(--color-white);
	background-color: transparent;
	border: none;
	border-radius: .5rem;
	cursor: pointer;
	transition: transform .3s;
	grid-column-start: 2;
	grid-row: 1/3;
	justify-self: end;
	align-self: start;
	aspect-ratio: 1/1;
}

section:nth-of-type(4) button span:active {
	transition: transform 0s;
	transform: translatey(0.06em);
	transform: rotateY(180deg);
}

section:nth-of-type(4) button span.roodworden {

	border: blur(0.13em) var(--color-white);
	color: var(--color-orange);
	font-size: 1.5em;
	transition: .4s;
}

/*veelgestelde vragen*/

section:nth-of-type(5) div:first-child {
	display: grid;
	margin: auto;
	margin-left: 1.3em;
}

/*veelgestelde vragen: vraag 1, vraag 2, vraag 3*/

section:nth-of-type(5)>ul>li {
	margin-top: 4em;
	border: solid 0.1em var(--color-grey);
	border-radius: 0.4em 0.4em 0.4em;
	padding: 1em 0 1em;
	margin-left: 1em;
	margin-right: 1em;

}

/*links in 'veelgestelde vragen,' 'voorwaarden,' & 'overige vragen'*/

section:nth-child(5),
section:nth-child(6),
section:nth-child(7) {
	margin-top: 4em;
}

/*links in 'veelgestelde vragen,' 'voorwaarden,' & 'overige vragen'*/

section:nth-child(5) a,
section:nth-child(6) a,
section:nth-child(7) a {
	color: var(--color-orange);
	font-weight: 400;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

/*bekijk alle vragen*/

/* section:nth-child(5) a {
	color: var(--color-orange);
	font-weight: 400;
	margin-left: 0;
	margin-bottom: 1.5em;
} */

section:nth-child(5) a:hover,
section:nth-child(6) a:hover,
section:nth-child(7) a:hover {
	color: var(--color-accent);
}

/*staat jouw vraag en/of antwoord er niet bij? Neem dan contact met ons op middels het e-mailadres*/

section:nth-child(7) p {
	color: var(--color-white);
}

/*dropdown styling 'films' (uitgeklapt hamburgermenu), 
'veelgestelde vragen'*/

section:nth-child(5) > section {
	--uitklaptijd: .3s;
	margin-bottom: 0.5em;
}

/*uitgeklapt deel*/

section:nth-child(5) ul>li:first-child,
section:nth-child(5) ul li:nth-of-type(2),
section:nth-child(5) ul li:nth-of-type(3) {
	flex-grow: 1;
	margin: 0;
	color: var(--color-orange);
	margin-left: 1.5em;
	cursor: pointer;
}

/*arrow button voor dropdown*/

section:nth-child(5) ul li:first-child.open button > img,
section:nth-child(5) ul li:nth-of-type(2).open button > img,
section:nth-child(5) ul li:nth-of-type(3).open button > img {
	width: 3em;
	aspect-ratio: 1/1;
	padding: 0;
	background-color: var(--color-text);
	cursor: pointer;
}

/*tijd waarin arrow omdraait bij in- en uitklappen*/

section:nth-child(5) ul li:first-child.open button > img,
section:nth-child(5) ul li:nth-of-type(2).open button > img,
section:nth-child(5) ul li:nth-of-type(3).open button > img {
	transition: var(--uitklaptijd);
}

/*arrow roteert rechtsom van onder naar boven toe bij uitklappen*/

section:nth-child(5) ul li:first-child.open button > img,
section:nth-child(5) ul li:nth-of-type(2).open button > img,
section:nth-child(5) ul li:nth-of-type(3).open button > img {
	transform: rotate(-180deg);
}

/*uitklapdeel duwt andere secties netjes naar onder en gaat er niet overheen*/

section:nth-child(5) ul li:first-child, 
section:nth-child(5) ul li:nth-of-type(2),
section:nth-child(5) ul li:nth-of-type(3) {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 0em;
	overflow: hidden;
	transition: var(--uitklaptijd);
}

/*uitklaptijd van uitklapdeel*/

section:nth-child(5) ul.open section {
	max-height: 25em;
	transition: var(--uitklaptijd);
}