/*css voor de moviepasspagina*/

/*orange gradient background*/

/* section:first-child, section:nth-of-type(2), section:nth-of-type(3)  {
	padding:0;
	background-image: url(../images/hazy-background-desktop.jpg);
}  */

main {
	padding:0;
	background-image: url(../images/hazy-background-desktop.jpg);
	width: 100vw;
	/* margin-top:3.44em; */
	height: 40em;
	right:0;
	left:0;
	/* position: fixed; */
	background-size: cover;
} 

/*slideroftrendingmovies*/

section:first-child > ul {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	overflow: scroll;
	margin: 0 2em 0 2em;
	padding: 0;
	gap: 0.5em;
	margin-left: 1em;
	margin-top: 6em;
}

/*onbeperkt naar de film voor 19.50 p/m: voordelen moviepas*/

section:nth-of-type(2) ul {
	display: flex;
	flex-direction: column;
	/* justify-content:center; */
}


section:nth-of-type(2) ul li {
	display: flex;
	flex-direction: row;
	/* align-items: left; */
}

/*icoontjes links van voordelen moviepas*/

section:nth-of-type(2) li img {
	margin-right: 0.1em;
	width: 1.5em;
	margin-left: -1em;
}

/*voordelen moviepas*/

section:nth-of-type(2) li p {
	color: var(--secundary-colour);
}

/*buttons
*/
/*bronnen:https://www.javatpoint.com/how-to-center-a-button-in-css
*/
/*neem abonnement knop*/

section:nth-of-type(3) button {
	display: flex;
	justify-content: center;
	white-space: nowrap;
	color: var(--color-text);
	background-color: var(--primary-colour);
	/* padding: 0.69em 9em 0.69em; */
	margin: auto;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-size: 1.25em;
	text-align: center;
	border-radius: 0.4em;
	/* width: 90vw; */
	width: 17em;
	padding: 0.5em 1em 0.5em;
	/* padding-top: 0.5em;
	padding-bottom: 0.5em; */
	vertical-align: middle;
}

section:nth-of-type(3) button:hover {
	transform: scale(1.2);
	background-color: orangered;
	color: white;
}

section:nth-of-type(3) button:focus {
	transform: scale(1.2);
	box-shadow: 0 0 0 0.2em purple;
	color: white;
}

section:nth-of-type(3) button:active {
	transform: scale(1.2);
	background-color: purple;
	color: white;
}



/* section:nth-of-type(3) button:first-child.blauwworden {
	background-color: rgb(0, 8, 255);
	color: white;
	transform: scale(1.2);
} */

/*geef cadeau knop*/

section:nth-of-type(3) button:nth-of-type(2) {
	text-transform: uppercase;
	font-size: 1.25em;
	background-color: black;
	color: white;
	border: 0.05em solid var(--primary-colour);
	/* padding: 0.69em 9em 0.69em; */
}

section:nth-of-type(3) button:hover {
	/* transform: scale(1.2); */
	background-color: orange;
	color: white;
}

section:nth-of-type(3) button:focus {
	outline: 0.5em purple;
}

section:nth-of-type(3) button:active {
	background-color: orange;
	color: white;
}


section:nth-of-type(4) {
	margin-top: 7em;
}

section:nth-of-type(4) img,
section:nth-of-type(5) img,
section:nth-of-type(6) img {
	width: 22em;
	margin: auto;
	display: block;
}

/*quote*/

section:nth-of-type(7) {
	margin-top: 4em;
}

section:nth-of-type(7) blockquote {
	text-align: center;
	color: var(--secundary-colour);
	line-height: 1.5em;
	margin-left: 2em;
	font-size: 1.25em;
}

/*name reviewer*/
/* 
section:nth-of-type(7) div:first-of-type {
	color: var(--primary-colour);
	font-size: 1.25em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2em;
} */

section:nth-of-type(7) span {
	color: var(--primary-colour);
	font-size: 1.25em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: -2em;
}

section:nth-of-type(7) div {
	display:flex;
	flex-wrap: wrap;
	font-size: 1em;
	font-style: normal;
	justify-content: center;
	margin-bottom: 4em;
}

section:nth-of-type(7) div {
	color: var(--secundary-colour);
	font-size: 1em;
	text-align: center;
	margin-bottom: 4em;
}

section:nth-of-type(7) div > div{
	position: relative;
	top: 1em;
}

section:nth-of-type(8) div:first-child {
	display: grid;
	margin: auto;
	/* display: block; */
	/* margin-left: 1em; */
}

section:nth-of-type(8),
section:nth-of-type(9),
section:nth-of-type(10)
 {
	/* display: flex; */
	margin-top: 4em;
	border: solid 0.1em grey;
	border-radius: 0.4em 0.4em 0.4em;

} 

/*dropdown veelgestelde vragen*/

section:nth-of-type(16) button:nth-of-type(2) {
	z-index: 1;
    left: 17em;
    top: -2.5em;
    /* position: relative; */
}

section:nth-child(10) a,
section:nth-child(11) a,
section:nth-child(12) a {
	color: var(--primary-colour);
	font-weight: 400;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

/*dropdown styling veelgestelde vragen*/

nav > ul:first-child > li:nth-of-type(2) > a > section
section:nth-child(8),
section:nth-child(9),
section:nth-child(10),
/* section:nth-child(16) button button */
section:nth-child(16) 
 {
	display: grid;
	/* justify-items: center; */
	--uitklaptijd: .3s;
	/* display: flex;
	flex-wrap: wrap; */
	margin-bottom: 0.5em;
}

nav > ul:first-child > li:nth-of-type(2) > a > section > ul,
section:nth-child(8) p,
section:nth-child(9) p,
section:nth-child(10) p,
section:nth-child(16) ul {
	flex-grow: 1;
	margin: 0;
	color: var(--primary-colour);
	margin-left: 1.5em;
	cursor: pointer;
}

nav > ul > li:nth-of-type(2) > a > section > ul button,
section:nth-child(8) button,
section:nth-child(9) button,
section:nth-child(10) button {
	width: 3em;
	aspect-ratio: 1/1;
	padding: 0;
	background-color: var(--color-text);
	cursor: pointer;
}

section:nth-child(16) button {
	width: 3em;
	padding: 0;
	background-color: var(--color-text);
	cursor: pointer;

}

section:nth-child(16) button:nth-of-type(2) {
	/* position: relative; */
	/* right: 0; */
}

nav > ul > li:nth-of-type(2) > a > section > ul button img,
section:nth-child(8) button img,
section:nth-child(9) button img,
section:nth-child(10) button img,
section:nth-child(16) button img
 {
	/* transform: rotate(-180deg); */
	transition: var(--uitklaptijd);
}

nav > ul > li:nth-of-type(2) > a > section > ul.open button img,
section:nth-child(8).open button img,
section:nth-child(9).open button img,
section:nth-child(10).open button img,
section:nth-child(16).open button img
 {
	transform: rotate(-180deg);
}

nav > ul > li:nth-of-type(2) > a > section,
section:nth-child(8) section,
section:nth-child(9) section,
section:nth-child(10) section,
section:nth-child(16) section
 {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 0em;
	overflow: hidden;
	transition: var(--uitklaptijd);
}

nav > ul > li:nth-of-type(2) > a > section.opensection,
section:nth-child(8).open section,
section:nth-child(9).open section,
section:nth-child(10).open section,
section:nth-child(16).open section {
	max-height: 25em;
	transition: var(--uitklaptijd);
}

nav > ul > li:nth-of-type(2) > a > section:a,
section:nth-child(10):a,
section:nth-child(11):a,
section:nth-child(12):a {
	color: var(--primary-colour);
	margin-left: 1em;
}

section:nth-child(11),
section:nth-child(12), 
section:nth-child(13),
section:nth-child(14)
 {
	margin-top: 4em;
}


section:nth-child(12) p {
	color: var(--secundary-colour);
}
