/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	white-space: nowrap;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text-button: #111;
	--color-accent: rgb(30, 144, 255);
	--color-background: #0B0C0E;
	--color-background-section: #15161A;
	--color-button-grey: #15161A;
	--color-orange: rgb(247, 148, 30);
	--color-white: #FFF;
	--color-form-input: #2b2c33;
	--color-text: white;
	--color-headings: white;
	--backgroundcolor-darkandlightmodebutton: white;
	--color-darkandlightmodebutton: black;
	--border-darkandlightmodebutton: none;
	--background-color-header: black;
	--background-color-nav: black;
	--color-secondlistinnav: grey;
	--backgroundcolor-navdropdownlist-darkandlightmode: rgba(0, 0, 0, 0.8);
	--background-color-searchinput: black;
	--color-searchinput: white;
	--opacity-sections-switchforlightanddarkmode: 1;
	--color-questiondropdown: orange;
	--bluedotforcontrastwitharrow: transparent;
	--bluedotforcontrastwitharrow-border-radius: none;
	--color-text-otherparts: white;
	--color-namereviewer: white;
	--color-likebuttonactive: orange;
	--img-brightness: 1;
	--background-color-somefootersections: transparent;
	--border-color: orange;
	--color-button: orange;
	--background-image: url(../images/oranjegloed-achtergrond.jpg);
	--uitklaptijd: 1s;
	--color-linksinnav: white;
	--img-popcorn: url(../images/popcornbak.png);
	--color-hover: rgb(30, 144, 255);
}

/* algemene styling */
/* dit geldt voor alles */

body {
	background-color: var(--color-background);
	color: var(--color-white);
	font-family: 'Isonorm', sans-serif;
	margin: 0;
	line-break: auto;
}

.light-mode {
	--color-background: #FFFFFF;
	--color-text: #000000;
	--color-headings: #000000;
	--color-background-section: orange;
	--backgroundcolor-darkandlightmodebutton: #000000;
	--border-darkandlightmodebutton: solid orange 0.1em;
	--color-darkandlightmodebutton: #FFFFFF;
	--opacity-sections-switchforlightanddarkmode: 0;
	--background-color-nav: rgb(30, 144, 255);
	--background-color-nav: rgb(30, 144, 255);
	--backgroundcolor-navdropdownlist-darkandlightmode: rgba(30, 144, 255, 0.75);
	--background-color-searchinput: #FFFFFF;
	--color-searchinput: #000000;
	--color-questiondropdown: #000000;
	--bluedotforcontrastwitharrow: rgb(30, 144, 255);
	--bluedotforcontrastwitharrow-border-radius: 50%;
	--color-text-otherparts: #000000;
	--color-namereviewer: rgb(30, 144, 255);
	--color-likebuttonactive: rgb(30, 144, 255);
	--img-brightness: .80;
	--color-form-input: #FFFFFF;
	--background-color-somefootersections: rgb(30, 144, 255);
	--border-color: #000000;
	--color-button: rgb(30, 144, 255);
	--color-button-grey: transparent;
	--background-image: none;
	--color-secondlistinnav: black;
	--img-popcorn: url(../images/popcornlightmode.png);
	--color-hover: #FFFFFF;
}

/*** STATES ***/
/** hover **/

header h1 img:hover,
header>ul>li:first-child button:hover {
	opacity: 70%;
}

header ul li ul li a:hover {
	color: var(--color-hover);
}

/*2e lijst in nav*/

nav ul>ul li a:hover {
	color: var(--color-button);
}

/*partners van vue*/

footer section:nth-of-type(2) input:hover {
	outline-style: inset;
	box-shadow: 0 0 0.5em 0.5em var(--color-accent);
}

footer section:nth-of-type(2) button:hover {
	background-color: var(--color-likebuttonactive);
}

footer section:nth-of-type(3) ul li a:hover {
	color: var(--color-accent);
}

footer section:nth-of-type(4) a:hover {
	transform: scale(1.09);
	background-color: var(--color-linksinnav);
	color: var(--color-button);
}

footer section:nth-of-type(6) ul li img:hover {
	opacity: 1;
}

/**focus**/

header h1 img:focus,
header>ul>li:first-child button:focus,
h2:focus,
h3:focus,
summary:focus,
nav ul>ul li a:focus,
nav button img:focus,
footer section:nth-of-type(4) a:focus,
footer section:nth-of-type(2) button:focus

 {
	outline-style: inset;
	box-shadow: 0 0 0.5em 0.5em var(--color-accent);
}

header ul li ul li a:focus {
	color: var(--color-hover);
}

/*search*/

@media screen and (max-width: 920px) {
	header ul li:nth-of-type(7) input.open:focus
	 {
		outline-style: inset;
		box-shadow: 0 0 0.5em 0.5em var(--color-accent);
	}
}

@media screen and (max-width: 920px) {
	nav>ul:first-of-type li a:focus {
		outline-style: inset;
	box-shadow: 0 0 0.5em 0.5em var(--color-accent);
	}
}

footer section:nth-of-type(2) input:focus {
	outline: none;
	box-shadow: 0.1em 0.2em 0.2em 0.1em rgba(255, 255, 255, .5);
}

footer section:nth-of-type(3) ul li a:focus {
	color: var(--color-accent);
}

footer section:nth-of-type(6) ul li img:focus {
	opacity: 1;
}

/** active **/

header h1 img:active,
header>ul>li:first-child button:active {
	transform: translateY(0.1em);
}

@media screen and (max-width: 920px) {
	nav>ul:first-of-type li a:active {
		transform: translateY(0.1em);
	}
}

/*dropdowns in nav desktop*/

header ul li ul li a:active {
	color: var(--color-hover);
}

footer section:nth-of-type(6) ul li img:active {
	opacity: 1;
}

footer section:nth-of-type(4) a:active {
	color: var(--color-background);
}

footer section:nth-of-type(2) button:active {
	transform: translateY(0.1em);
}

footer section:nth-of-type(3) ul li a:active {
	color: var(--color-text);
}

/*header*/
/*nav bar*/

header {
	display: flex;
	height: 3em;
	top: 0;
	z-index: 999;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	z-index: 999;
	justify-content: center;
	position: sticky;
	justify-content: space-between;
	background-color: var(--background-color-nav);
}

/*logo Vue*/

header h1 img {
	margin-left: 0.2em;
	width: 2.5em;
	top: 0;
	left: 0;
}

header button img {
	width: 3em;
	top: 0;
	z-index: 10em;
}

/*button light modus*/

header>ul>li:first-child button {
	background-color: var(--backgroundcolor-darkandlightmodebutton);
	color: var(--color-darkandlightmodebutton);
	border: var(--border-darkandlightmodebutton);
	padding: 0.3em 0 0.3em;
	cursor: pointer;
	border-radius: 0.8em;
	padding: 0.8em 0.2em 0.8em;
}

/*navigatielinks, search, hamburgerbutton*/

header>ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 0;
	gap: 0.5em;
}

header>ul>li {
	display: flex;
	margin: 0.5em;
}

header ul li ul {
	background: var(--backgroundcolor-navdropdownlist-darkandlightmode);
	padding: 0.5em;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: nowrap;
	position: absolute;
}

header ul li ul li {
	margin-bottom: 0.5em;
}

header ul li details ul li:first-of-type {
	margin-top: 1em;
}

/*summary stijlen (driehoekje bij dropdowns navigatielinks)*/
/*bron:https://justmarkup.com/articles/2020-09-22-styling-and-animation-details/*/
/*bron:https://stackoverflow.com/questions/30055459/align-a-pseudo-element-to-the-right-and-vertical-center*/

summary {
	list-style: none;
	position: relative;
}

details summary::after {
	content: url(../images/arrow-icon.svg);
	position: absolute;
	margin-right: 5em;
}

/*hamburgermenu*/

header ul li:nth-of-type(8) {
	display: none;
}

/* Als het scherm kleiner is dan 920 px breed, verberg alle links, toon hamburgermenu die topnav opent en sluit*/
@media screen and (max-width: 920px) {
	header>ul>li {
		display: none;
	}

	/*searchoptie inputveld en searchknop*/
	/* (gebaseerd op hoe "veelgestelde vragen" werkt, zie later in document) */

	header ul li:nth-of-type(7) input {
		max-width: 0;
		/* transition: max-width 0.5s; */
		transition: 0.5s;
		padding: 0;
		border: 0;
	}

	header ul li:nth-of-type(7) input.open {
		min-width: 0;
		max-width: 8em;
		background-color: var(--background-color-searchinput);
		color: var(--color-searchinput);
		padding: 0.5em;
	}

	header ul li:first-child,
	header ul li:nth-of-type(7),
	header ul li:nth-of-type(8) {
		display: flex;
	}

	header ul li:nth-of-type(8) {
		margin-right: 0;
	}
}

@media screen and (min-width: 919px) {
	header ul li:nth-of-type(7) input {
		min-width: 0;
		max-width: 8em;
		background-color: var(--background-color-searchinput);
		color: var(--color-text-otherparts);
		padding: 0.5em;
	}
}


/*nav*/

nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--background-color-nav);
	transform: translateY(-100%);
	transition: transform 0.5s;
	width: 100vw;
}

@media screen and (min-width: 920px) {
	nav {
		display:none;
	}
}

/*uitklapsysteem hamburgermenu*/

nav.menuopenklappen {
	transform: translateY(0);
}

nav.menudichtklappen {
	transform: translateY(-100%);
}

/*styling uitgeklapt hamburgermenu*/
/*lijst in menu*/

nav ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin-left: 1em;
	z-index: 10;
	margin-top: 4em;
	padding: 0;
}

nav>ul:first-of-type li a {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1em 0 1em;
	color: var(--color-linksinnav);
}

nav>ul li a>img {
	margin-right: 1em;
}

/*logo Vue*/

nav>img:first-child {
	max-width: 4.5em;
	margin-left: 0.6em;
	margin-top: 0.9em;
}

/*eerste listitem: img, mijn vue, log in*/

nav ul li:first-child a img {
	width: 3em;
	grid-row-start: 1;
	grid-row-end: 3;
}

/*plaatje, mijn vue & log in*/

nav>ul>li:first-child>a {
	display: grid;
	grid-template-columns: 3em 1fr;
	align-items: center;
	column-gap: 1em;
	border-bottom: solid 0.1em rgb(247, 148, 30);
	border-bottom-width: 0 0 0.1em 0;
}

/*Log in*/

nav ul li:first-child a>div:nth-child(2) {
	margin: 0;
	grid-row-start: 2;
	grid-row-end: 3;
	color: var(--color-secondlistinnav);
}

/*pijltje*/

nav ul li:first-child a img:nth-of-type(2) {
	transform: rotate(-90deg);
	right: 0;
}

nav ul li:first-child a::after {
	content: url(images/arrow-icon.svg);
	margin-right: 0;
}

/*ul in hamburgermenu: 'giftcards, zakelijk, klantenservice'*/

nav ul>ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-top: 1em;
	margin-left: 0;
	border-top: solid 0.1em rgb(247, 148, 30)
}

nav ul>ul li a {
	line-height: 0.8em;
}

/*sluitknop hamburgermenu*/

nav button img {
	position: absolute;
	top: 0;
	right: 0;
	width: 5em;
}

/*koppen*/
/*zichtbare h2's*/

h2 {
	color: var(--color-headings);
	font-size: 1.52em;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	margin-top: 3em;
	margin-left: 1em;
}

h3 {
	font-size: 1.52em;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	margin-left: 0;
	color: var(--color-headings);
}

/*tekst*/

p {
	text-align: left;
	color: var(--color-text);
	line-height: 1.5em;
	margin-left: 0;
	margin-right: 3em;
	font-size: 1em;
}

/*lists*/
/* bron: https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
ul {
	list-style-type: none;
}

@media (min-width: 920px) {
	main section:nth-of-type(3) ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1080px) {
	main section:nth-of-type(3) ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/*links*/

a {
	color: var(--color-text-otherparts);
	text-decoration: none;
}

a:focus {
	outline: none;
	color: var(--color-accent);
}


/*** FOOTER GEDEELTE ***/
/*bron:https://codepen.io/shooft/pen/yLEwVXm*/

/*verborgen h2 section 3, 5 en 6 footer*/

footer section:nth-of-type(3) h2,
footer section:nth-of-type(5) h2,
footer section:nth-of-type(6) h2 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 0.06em;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 0.06em;
	color: var(--color-white);
	font-size: 1.25em;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	margin-left: 1em;
}

/*volg ons ook via*/
footer section:first-of-type h2 {
	text-align: center;
}

/*alle lijsten in footer*/

footer section ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2em;
}

@media (min-width:28em) {
	footer section ul {
		grid-template-columns: 1fr 1fr;
		column-gap: 1em;
	}
}

/*footer section 1-volg ons ook via*/

footer section:first-child ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	align-items: flex-end;
	flex: 1 1 10em;
	text-align: center;
}

/*footer section 1-volg ons ook via*/
/*social media icons*/

footer section:first-child ul li a img {
	width: 2em;
	border-radius: 50%;
}

footer section:first-child ul li {
	margin-right: 1em;
	margin-bottom: 2em;
}

/*footer section 1-volg ons ook via*/
/*social media icons animation*/
/*grey background sections (section 4, footer: 1 & 4)*/

footer section:first-child {
	background-color: var(--color-background-section);
	border-top: solid 0.1em var(--color-orange);
	border-bottom: solid 0.1em var(--color-orange);
}

footer section:first-child ul li img {
	background-color: transparent;
	display: inline-block;
	animation: rotate 1s linear infinite;
	animation-timing-function: calc();
	transform: rotate(calc(1turn + 360deg));
	animation-duration: 5s;
	animation-delay: calc(1s + 15ms);
	margin-bottom: 0.5em;
}

footer section:first-child ul a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/*footer section 2-'schrijf je in voor onze nieuwsbrief'*/

footer section:nth-of-type(2) {
	margin-left: 1em;
	margin-right: 1em;
}

footer section:nth-of-type(2) h2 {
	text-align: center;
}

footer section:nth-of-type(2) p {
	text-align: center;
}

/*emailadres invullen & aanmeldknop*/

footer section:nth-of-type(2) form {
	display: flex;
	margin: auto;
	position: relative;
	max-width: 50em;
	margin-bottom: 4em;
}

/*bron:https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/email*/

footer section:nth-of-type(2) input button {
	text-align: center;
	display: inline-block;
	position: absolute;
}

footer section:nth-of-type(2) input {
	width: 90%;
	padding: 0.85em 1em 0.85em;
	border-radius: 0.4em 0 0 0.4em;
	font-size: 1em;
	color: var(--color-text-otherparts);
	background-color: var(--color-form-input);
	border: var(--border-darkandlightmodebutton);
}

/*bron:https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
/*bron:https://stackoverflow.com/questions/8287447/create-a-white-rgba-css3*/

/*aanmeldknop*/

footer section:nth-of-type(2) button {
	text-transform: uppercase;
	padding: 0.5em 1em 0.5em;
	border: none;
	border-radius: 0 0.4em 0.4em 0;
	background-color: var(--color-orange);
	font-size: 1.25em;
	cursor: pointer;
}

/*footer section 3-footerlijst films, zakelijk en vue*/
/*bron:https://www.w3.org/TR/css-multicol-1/*/

/*films footer lijst*/

footer section section:nth-of-type(3) {
	margin: 0;
}

/*footer section 3-footerlijst films, zakelijk en vue*/

footer>section:nth-of-type(3) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

footer section:nth-of-type(3) h2 {
	margin: 0;
	text-align: center;
}

footer section:nth-of-type(3) ul {
	justify-content: center;
	padding: 0;
}

footer section:nth-of-type(3) ul li a {
	display: flex;
	flex-direction: column;
	color: var(--color-orange);
	text-align: left;
	line-height: 3em;
	padding: 0;
}

/*footer section 4-download de vue app via de app store of google play*/

footer section:nth-of-type(4) {
	background-color: var(--color-background-section);
	border-top: solid 0.1em var(--color-button);
	border-bottom: solid 0.1em var(--color-button);
	padding-top: 5em;
	padding-bottom: 5em;
	display: grid;
	justify-items: center;
	padding-left: 0;
}

footer section:nth-of-type(4) h2 {
	margin: 0;
}

footer section:nth-of-type(4) ul {
	padding-left: 0;
}

footer section:nth-of-type(4) li {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	gap: 1em;
}

/*footer section 4-download de vue app via de app store of google play*/

footer section:nth-of-type(4) h2 {
	text-align: center;
	margin-bottom: 1em;
}

footer section:nth-of-type(4) ul {
	display: flex;
	justify-content: center;
}

footer section:nth-of-type(4) a {
	border: 0.05em solid var(--border-color);
	padding: 0.85em 1em 0.85em;
	color: var(--color-white);
	font-weight: bold;
	font-size: 1em;
	width: 21.56em;
	margin-bottom: 1em;
	text-align: center;
	border-radius: 0.4em 0.4em 0.4em;
	background-color: var(--color-button);
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: row;
	white-space: nowrap;
	align-items: center;
	column-gap: 1em;
}

/*footer section 4-download de vue app via de app store of google play*/
/*icon apple & google play*/

footer section:nth-of-type(4) a img {
	width: 1.5em;
}

/*footer section 5-copyright*/
/*copyright*/

footer section:nth-of-type(5) ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 1em;
	margin-left: 1em;
	justify-content: center;
	padding: 0;
}

/*footer section 5-copyright*/
/*vertical line between items*/

footer section:nth-of-type(5) ul li a::after

/* section:nth-of-type(12) ul li a::after */
	{
	padding: 0.5em;
	content: "|";
	color: var(--color-text-otherparts);
}

/*footer section 6-partners van vue*/

footer section:nth-of-type(6) ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color-somefootersections);
}

footer section:nth-of-type(6) ul li {
	padding: 1.5em;
}

footer section:nth-of-type(6) ul li img {
	opacity: 0.75;
}