/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove the default blue outline for all focusable elements */
*:focus {
  outline: none;
  box-shadow: 0 0 20px 5px var(--color-box-shadow);
}

button:not([disabled]) {
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
  font-family: 'Bulmer Bt Roman';
  src: url('../fonts/BulmerBTRoman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --body-backgroundcolor: #d68f3a;
  --color-hoofdkleur: #2b1cdc;
  --color-secundairekleur: #ffffff;
  --color-headings: #f8f8f8;
  --color-background-popup: #ffffff;
  --color-main-text: #fff;
  --color-hover-blue: #2b1cdc;
  --color-hover-red: #ff0000;
  --color-box-shadow: rgba(255, 0, 0, 0.7);
  --overlay-site-background: rgba(0, 0, 50, 0.7);
  --overlay-site: rgba(0, 0, 0, 0.7);
  --overlay-site-p: #ffffff;
  --box-shadow-hover-button: rgba(0, 0, 255, 0.5);
  --span-marker-hover-color: rgba(0, 0, 255, 0.5);
  --box-shadow-active-button: rgba(0, 0, 0, 0.2);
  --header-button: rgba (0, 0, 0, 0.2);
  --marker-text-color: #333;
  --marker-title-color: #2b1cdc;
  --background-color-hover-button: rgba(0, 0, 255, 0.2);
  --span-hover-background-color: rgba(255, 0, 0, 0.5);
  --span-hover-box-shadow: rgba(255, 0, 0, 0.3);
  --span-hover-color: #f8f8f8;
  --popup-background-color: rgba(0, 0, 0, 0.5);
  --popup-box-shadow: rgba(0, 0, 255, 0.5);
  --close-button-background: transparent;
  --close-button-box-shadow: rgba(0, 0, 255, 0.5);
}


/********************/
/* ALGEMENE STYLING */
/********************/

body {
  margin: 0;
  background-color: var(--body-backgroundcolor);
  opacity: 0.8;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* zero state overlay */

.overlay-site {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-site);
  opacity: 0;
  transition: opacity 3s ease;
  z-index: 6000;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}

.zeroBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-site-background);
  z-index: 3000;
  cursor: pointer;
  animation: fadeIn 3s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.zeroBackground img {
  width: 8em;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10em;
}

.zeroBackground p {
  color: var(--overlay-site-p);
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 8em;
}

/*sinterklaasmode*/

header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  bottom: 1em;
  margin-top: 1.5em;
}

header button {
  display: inline-block;
  padding: 1em 2em 1em;
  font-size: 1em;
  font-weight: bold;
  background-color: var(--color-hoofdkleur);
  color: var(--color-secundairekleur);
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.8em;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0px 2px 5px var(--header-button);
}

header button:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px var(--box-shadow-hover-button);
}

header button:active {
  transform: translateY(0.3em);
  box-shadow: 0px 2px 5px var(--box-shadow-active-button);
}

/* Media query to adjust button position for smaller screens */
@media screen and (max-width: 768px) {
  header button {
    position: relative;
    margin-top: 1.5em;
    margin: 0 auto;
  }
}

body.dark-mode .toggle-sinterklaas-modus {
  width: 9.375em;
}

body.sinterklaas-modus {
  background-image: url("dark-mode-background.jpg") repeat-y;
  background-size: cover;
  background-position: center center;
  animation: moveBackground 20s infinite linear;
  animation-delay: 0.5s;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}

@keyframes moveBackground {
  0% {
    background-position: bottom;
  }

  100% {
    background-position: top;
  }
}

/* default mode styles-bommel & tom poes*/
section:first-of-type>button img,
body:not(.sinterklaas-modus) button#tom-poesButton img,
body:not(.sinterklaas-modus) button#bommelButton img {
  width: 5em;
  height: auto;
}

/* sinterklaas mode styles-bommel & tom poes */
body.sinterklaas-modus button#tom-poesButton img,
body.sinterklaas-modus button#bommelButton img {
  height: auto;
}

/*algemeen*/

h1 {
  color: var(--color-headings);
  font-family: 'Bulmer Bt Roman', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  padding: 0.5em;
  letter-spacing: 0.625em;
  transform: rotate(-3deg);
}

#title-overlay {
  color: var(--color-headings);
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  position: relative;
  top: 3em;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  h1, #title-overlay {
    font-size: 1em;
  }

  .zeroBackground p {
    top: 6em;
  }

  .zeroBackground img {
    top: 8em;
  }
}

h2 {
  display: none;
}

p {
  min-width: 16em;
  max-width: 30em;
}

.two-column-container {
  column-count: 2;
  column-gap: 2em;
}

/* Ensure the tops of paragraphs align */
.two-column-container {
  align-items: start;
}


/* Media query for larger screens */
@media screen and (max-width: 768px) {
  .two-column-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
  }

  .two-column-container p {
    flex-basis: calc(50% - 1.25em);
    align-items: flex-end;
    margin: 0;
  }

  /* Ensure the tops of paragraphs align */
  .two-column-container {
    align-items: start;
  }

}


/* landkaart container */
section:first-of-type {
  position: relative;
  max-width: 120vh;
  margin: 0 auto;
}

/*landkaart*/
section:first-of-type>img:first-of-type {
  width: 95%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*positie markers op landkaart*/
section:first-of-type>span {
  position: absolute;
  width: 5%;
  aspect-ratio: 1 / 1;
  border: 6px solid var(--color-hoofdkleur);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

section:first-of-type>span:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px var(--span-marker-hover-color);
}

section:first-of-type>span:focus {
  box-shadow: 0 0 20px 5px var(--color-box-shadow);
}

section:first-of-type span:first-of-type {
  top: 30%;
  left: 20%;
}

section:first-of-type span:nth-of-type(2) {
  top: 75%;
  left: 45%;
}

section:first-of-type span:nth-of-type(3) {
  top: 35%;
  left: 70%;
}

section:first-of-type span:nth-of-type(4) {
  top: 55%;
  right: 20%;
}

/*content span, locaties op landkaart*/

section:first-of-type>span::after {
  position: absolute;
  top: -1.6em;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

section:first-of-type>span:hover::after {
  background-color: var(--span-hover-background-color);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px var(--span-hover-box-shadow);
  color: var(--span-hover-color);
}

section:first-of-type span:first-of-type:hover::after {
  content: '1 Donkere Bomen Bos';
}

section:first-of-type span:nth-of-type(2):hover::after {
  content: '2 Rommeldam';
}

section:first-of-type span:nth-of-type(3):hover::after {
  content: '3 Bommelstein';
}

section:first-of-type span:nth-of-type(4):hover::after {
  content: '4 De Zwarte Bergen';
}

/*overlay met informatie over elke plek*/

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--popup-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transition: opacity 2s ease, transform 2s ease;
  z-index: 3000;
  box-shadow: 0px 5px 10px var(--popup-box-shadow);
  display: none;
  animation: fadeInPopup 2s; 
}

@keyframes fadeInPopup {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.overlay-content {
  position: relative;
  background-color: var(--color-background-popup);
  padding: 1.25em;
  border-radius: 8px;
  box-sizing: border-box;
  max-width: 80vw;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  margin: auto;
  margin-top: 5vh;
}


/*openen en sluiten overlay*/

.hide-overlay {
  display: none;
}

.overlay.toon-informatie {
  transform: translateY(0);
}

.sluit-informatie {
  transform: translateY(-100%);
  cursor: pointer;
}

section:nth-of-type(2) button {
  position: fixed;
  top: 2.5em;
  right: 4em;
  border: 2px solid transparent;
  background-color: var(--close-button-background);
  z-index: 9999;
}

section:nth-of-type(2) button:hover {
  box-shadow: 0px 5px 10px var(--close-button-box-shadow);
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 0.5em;
}

/*marker info styling*/

.marker-title {
  font-size: 1.5em;
  top: 5em;
  color: var(--marker-title-color);
}

.marker-image {
  margin-top: 1em;
  max-width: 100%;
  margin-bottom: 1em;
  width: 100vw;
}

.marker-image2 {
  display: none;
  width: 10vw;
  max-width: 100%;
  margin: 0 auto;
  transform: scaleX(1);
  animation: moveRightAndLeft 20s linear infinite;
  animation-delay: 2s;
  cursor: pointer;
  margin-top: 3em;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.show-marker-image2 {
  display: block;
}

/* Adjust positioning for smaller screens */
@media screen and (max-width: 768px) {
  .marker-image2 {
    left: 2%;
  }
}

/* Additional positioning for larger screens */
@media screen and (min-width: 1200px) {
  .marker-image2 {
    left: 10%;
  }
}

.marker-image2 {
  animation: moveRightAndLeft 20s linear infinite;
  animation-delay: 2s;
}

/* Adjust animation for smaller screens */
@media screen and (max-width: 768px) {
  .marker-image2 {
    animation: moveRightAndLeftSmall 20s linear infinite;
  }

  /* Keyframes for smaller screen movement */
  @keyframes moveRightAndLeftSmall {
    0% {
      transform: translateX(0) scaleX(1);
    }

    25% {
      transform: translateX(5em) scaleX(1);
    }

    50% {
      transform: translateX(10em) scaleX(-1);
    }

    75% {
      transform: translateX(5em) scaleX(-1);
    }

    100% {
      transform: translateX(0) scaleX(1);
    }
  }
}

/* Additional animation for larger screens */
@media screen and (min-width: 1200px) {
  .marker-image2 {
    animation: moveRightAndLeftLarge 20s linear infinite;
  }

  /* Keyframes for larger screen movement */
  @keyframes moveRightAndLeftLarge {
    0% {
      transform: translateX(0) scaleX(1);
    }

    25% {
      transform: translateX(20em) scaleX(1);
    }

    50% {
      transform: translateX(40em) scaleX(-1);
    }

    75% {
      transform: translateX(20em) scaleX(-1);
    }

    100% {
      transform: translateX(0) scaleX(1);
    }
  }
}

/* Additional animation for larger screens and fullscreen view */
@media screen and (min-width: 1920px) {
  .marker-image2 {
    /* ... (other styles) */
    animation: moveRightAndLeftFullscreen 20s linear infinite;
  }

  /* Keyframes for larger screen and fullscreen movement */
  @keyframes moveRightAndLeftFullscreen {
    0% {
      transform: translateX(0) scaleX(1);
    }

    25% {
      transform: translateX(80em) scaleX(1);
    }

    50% {
      transform: translateX(160em) scaleX(-1);
    }

    75% {
      transform: translateX(80em) scaleX(-1);
    }

    100% {
      transform: translateX(0) scaleX(1);
    }
  }
}

.marker-text {
  font-size: 1.125em;
  color: var(--marker-text-color);
  flex-basis: calc(50% - 1.25em);
  margin: 0;
  padding-top: 0.5em;
  /* Adjust this padding to simulate top alignment */
}

/*voice buttons Bommel en Tom Poes*/

section:first-of-type>button {
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 25em;
  height: 25em;
}

.button-container {
  position: relative;
  display: inline-block;
}

/* bommelButton */
section:first-of-type>button:first-of-type {
  position: absolute;
  top: 50%;
  left: -10%;
  width: 30%;
  height: auto;
  transition: transform 0.3s ease;
}

section:first-of-type>button:first-of-type:hover,
section:first-of-type>button:nth-of-type(2):hover {
  box-shadow: 0px 0px 10px 5px var(--box-shadow-hover-button);
  background-color: var(--background-color-hover-button);
  backdrop-filter: blur(1000px);
}

section:first-of-type>button:first-of-type:hover {
  transform: translateY(-0.125em) translateX(0.125em);
}

section:first-of-type>button:first-of-type img {
  width: 100%;
  height: auto;
}

#mijter {
  position: absolute;
  transform: rotate(360deg);
  top: -70%;
  left: 14%;
  height: auto;
}

/* tom-poesButton */
section:first-of-type>button:nth-of-type(2) {
  position: absolute;
  top: 60%;
  left: 80%;
  width: 30%;
  height: auto;
  transition: transform 0.3s ease;
}

section:first-of-type>button:nth-of-type(2):hover {
  transform: translateY(-0.125em) translateX(-0.125em);
}

section:first-of-type>button:nth-of-type(2) img {
  width: 50%;
  height: auto;
}

#pietenmuts {
  position: absolute;
  transform: rotate(335deg);
  top: -7%;
  left: 22%;
  height: auto;
}

.dark-mode-image-hidden {
  position: relative;
  top: -0.625em;
  display: none;
}

.dark-mode .dark-mode-image-hidden {
  display: inline;
}

/*footer*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--color-hoofdkleur);
  padding: 0.5em 0;
  margin-top: -20em;
  color: var(--color-headings);
  flex-shrink: 0;
}