/*css voor de trailerpagina*/

/*lijstvan trailers*/

section:nth-of-type(1) ul {
	/* display: flex;
	flex-direction: column;
	overflow: scroll; */
	/* margin: 0 2em 0 2em; */
	/* padding: 0; */
	/* gap: 10em;  */
	/* margin: auto; */
	/* justify-content: center;
	align-items: center; */
	display: grid;
	grid-template-columns: 1fr;
}

/* section:nth-of-type(1) ul li {
	margin-bottom: 4em;
} */

/*koppen*/

h4 {
	color: var(--color-grey);
	text-align: center;
	font-size: 1.13em;
	font-weight: bold;
	text-shadow: 1em, 1em, 1em, 1em, black;
	margin-top: 10em;
} 

/*lists*/
/* bron: https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
ul {
	list-style-type: none;
}

ul:nth-of-type(2) {
	display: none; 
}

/*video*/

section:first-of-type ul {
	/* margin: auto;
	display: block; */
	scroll-snap-type: y;
}

video {
	/* width:24.38em; */
	width: 20em;
	/* display: block; */
	margin: 0 auto;
}

section:first-of-type ul li a {
	color: var (--color-orange);


}


/*button-benieuwd naar meer?*/

section:nth-of-type(2)>button a {
	padding: 0.85em 1em 0.85em;
	color: var(--color-text-button);
	width: 17em;
	margin-bottom: 1em;
	text-align: center;
	border-radius: 0.4em 0.4em 0.4em;
	background-color: var(--color-orange);
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: row;
	white-space: nowrap;
	align-items: center;
	margin: auto;
	text-transform: uppercase;
    font-size: 1.25em;
    text-align: center;
    border-radius: 0.4em;
	vertical-align: middle;
}


    /* padding: 0.5em 1em 0.5em; */
