/*css voor de trailerpagina*/

/*lijstvan trailers*/

section:nth-of-type(1) ul {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	/* margin: 0 2em 0 2em; */
	padding: 0;
	gap: 0.5em; 
}

/*koppen*/

h1 {
	color: var(--tertiary-colour);
	font-size: 1.13em;
	font-weight: bold;
	letter-spacing: 0.5em;
	text-shadow: 1em, 1em, 1em, 1em, black;
	margin: 0;
}

h2 {
	color: var(--secundary-colour);
	font-size: 1em;
	text-align: center;
}

h3 {
	font-size: 1.9em;

}

/*tekst*/

p {
	line-height: 1em;
	text-align: left;
}

/*lists*/
/* bron: https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
ul {
	list-style-type: none;
}

ul:nth-of-type(2) {
	display: none; 
}

/*video*/

video {
	width:24.38em;
	display: block;
	margin: auto;
}
